/*header*/
.header {
    align-items: center;
    padding: 92px 24px 95px 24px;
    display: grid;
    grid-template-columns: 43.5% 31.2% 26.5%;
}

.header__links-list {
    display: flex;
    flex-direction: row;
    list-style: circle;
}

.header__links-list-item {
    margin-left: 30px;
}

.header__link {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.18px;
    text-underline-offset: 4px;
}

.header__link_active .header__link {
    text-decoration: none;
}

.header__links-list-item_no-bullit {
    list-style: none;
    margin-left: 28px;
}

.header__logo {
    width: 138px;
    height: 100px;
}

.header__logo-image {
    width: 100%;
}

.header__address {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px; /* 135% */
    letter-spacing: 0.18px;
    text-underline-offset: 4px;
    margin-right: 58px;
}
/*cover*/
.cover {
    min-height: 757px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
    position: absolute;
  }

.cover__title {
    color: #FFF;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 30px;
    text-transform: uppercase;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 165px;
    padding-left: 50px;
}

.aligned-text {
    text-align: center;
    display: block;
}
.aligned-text_left {
    text-align: left;
    
}

.aligned-text_center {
    text-align: center;
    width: 93%;
}

.aligned-text_right {
    text-align: right;
    width: 98%;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.cover__description {
    color: #FFF;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
    text-transform: uppercase;
    word-spacing: 1.2rem;
    position: absolute;
    display: flex;
    margin-left: 78px;
    margin-top: 130px;
}

.cover__description-text {
    letter-spacing: 24px;
}

.bet-button {
    color: #FFF;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    line-height: normal;
    text-transform: uppercase;
    border: 1px solid currentColor;
    background-color: transparent;
    word-spacing: 0rem;
    position: absolute;
    margin: 120px 0px 0px 795px;
    padding: 11px 32px;
}
/*lots*/
.lots {
    padding: 181px 24px 146px 24px;
}

.lots__heading {
    color: #000;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 0px 0px 0px 41px;
}

.lots__card-list {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.lots__card-list-item {
    list-style-type: none;
}

.card {
    text-underline-offset: 4px;
    min-height: 565px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    display: grid;
    grid-template-rows: 65.5% 34.5%;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    display: grid;
    grid-template-rows: 27.3% 80%;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    display: grid;
    grid-template-rows: 44.5% 65%;
}

.card__title {
    color: #FFF;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    text-decoration-line: underline;
    text-transform: uppercase;
    text-align: start;
    margin-left: 40px;
    padding: 49px 0px 0px 2px;
    position:relative;
    z-index: 3;
    max-width: 265px;
}

.card__text {
    color:#FFF;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
    text-align: start;
    align-self: end;
    margin-left: 30px;
    vertical-align: 40px;
    place-items: end;
    position:relative;
    z-index: 2;
    padding-left: 12px;
    max-width: 265px;
}

.lots__look-more-link {
    color: #000;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 40px;
    display: block;
    padding-top: 28px;
    text-underline-offset: 4px;
}
/*about*/
.about {
    padding: 37px 24px 180px 72px;
}

.about__column {
    display: grid;
    grid-template-columns: 30% 70%;
}

.about__logo {
    background: black;
    border-radius: 50%;
    display: flex;
    height: 15em;
    width: 15em;
}

.about__logo-image {
    width: 148px;
    margin: auto;
}

.title__text {
    display: grid;
    grid-template-rows: 41% 79%;
}

.about__title {
    color: #000;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    line-height: normal;
    padding-top: 98px;
    padding-left: 5px;
}

.about__text {
    color: #000;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
    letter-spacing: 0.2px;
    padding-top: 45px;
    padding-left: 10px;
    display: grid;
    grid-template-rows: 44% 56%;
}
/*footer*/
.footer {
    padding: 75px 50px 88px 50px;
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.adress {
    text-underline-offset: 4px;
    color: #000;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px; /* 135% */
    letter-spacing: 0.18px;
}

.footer__menu {
    color: #000;
    text-align: center;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-underline-offset: 4px;
    padding-left: 39px;
}

.footer__menu-list {
    list-style: none;
}

.footer__menu-link_active .footer__menu-link {
    text-decoration: none;
}

.footer__social-list {
    display: inline-flex;
    align-items: flex-start;
    gap: 48px;
    list-style: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}
